.choice {
  margin-bottom: 2%;
}
body {
  background-color: #233140;
}
h3 {
  margin-top: 0px;
  margin-bottom: 12px;
}

header.container {
  padding-bottom: 40px;
}

/* override padding-top on header */
/* small sizes */
@media (max-width: 768px) {
  header .container {
    padding-top: 70px;
  }

  /* Instructions */
  .instructions p {
    font-size: 16px;
  }

  .status span#status-text {
    font-size: 34px;
  }
  .status span#game-status {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  hr#hr-top {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  hr#hr-bottom {
    margin-top: 8px;
    margin-bottom: 20px;
  }
  #machine-learning-mode {
    margin-bottom: 8px;
  }
}

/* big size */
@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }

  /* Instructions */
  .instructions p {
    font-size: 20px;
  }


  .status span#status-text {
    font-size: 40px;
  }
  .status span#game-status {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  hr#hr-top {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  hr#hr-bottom {
    margin-top: 14px;
    margin-bottom: 20px;
  }
  #machine-learning-mode {
    margin-bottom: 12px;
  }
}


/* small fix for iphone 5s */
@media (max-width: 380px) {
  .navbar-brand {
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
  }
  footer .footer-below {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .container {
    padding-bottom: 10px;
  }
}

/* small fix for iphone 5s */
/*@media (max-width: 330px) {
  footer .footer-below {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .container {
    padding-bottom: 10px;
  }
}*/


/*// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
/*#response-row {
  margin-top: 5%;

  button {
    padding: 80px 100px;
    font-size: 80px;
    margin-top:60px;
  }
}

#question {
  font-size: 300%;
}

#message {
  font-size: 300%;
}

// styles the rock paper scissors choices
#response-row {
  // attached directly on tag as well

}

#answers {
  h2 {
    font-size: 400%;
  }
  h3 {
    font-size: 300%;
    padding-left: 75px;
    padding-right: 75px;
  }
}


@media (max-width: 767px) {
    h1 {
      color: blue;
    }
}*/
