<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Rock, Paper, Scissors Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="static/stylesheets/style.css"> -->

    <!-- Bower components -->
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- Thanks to David T Miller for theme: https://github.com/BlackrockDigital/startbootstrap-freelancer -->
    <link rel="stylesheet" type="text/css" href="static/stylesheets/theme.min.css">
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/ng_fittext.js"></script>
    <link rel="stylesheet" href="static/stylesheets/style.css">

    <script src="static/javascripts/app.js"></script>
  </head>

  <body ng-app="rockPaperScissorsApp">

    <!-- Navigation -->
     <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix">
         <div class="container">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header page-scroll">
                 <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                 </button> -->
                 <!-- <img src="static/images/ibm_logo.png" alt="IBM"> -->
                 <a class="navbar-brand" href="#page-top">Demo:&nbsp;&nbsp; IBM @ Big Data Summit 2017</a>
             </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
             <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="hidden">
                         <a href="#page-top"></a>
                     </li>
                     <li class="page-scroll">
                         <a href="#portfolio">Portfolio</a>
                     </li>
                     <li class="page-scroll">
                         <a href="#about">About</a>
                     </li>
                     <li class="page-scroll">
                         <a href="#contact">Contact</a>
                     </li>
                 </ul>
             </div> -->
             <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
       </nav>



       <!-- Header -->
       <header>
           <div class="container" ng-controller="GameController">

             <!-- Heading -->
             <div class="row">
               <div class="col-xs-12">
                 <h3>Machine Learning Demo</h3>
               </div>
             </div>

              <!-- Instructions -->
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 instructions">
                  <p>Instructions: To play, choose a pattern (ex. Rock-Scissors, Rock-Scissors) and repeat your playing pattern using the buttons below.</p>
                </div>
              </div>


              <hr id="hr-top">


              <!-- Machine Learning Mode -->
              <div class="row">
                <div class="col-xs-12 status">
                  <span id="status-text" style="">Status: </span><span id="game-status">{{ view.gameStatus }}</span>
                </div>
              </div>

              <hr id="hr-bottom">

              <!-- Machine Learning Mode -->
              <div class="row" id="machine-learning-mode">
                <div class="col-xs-12 intro-text">
                  <span class="skills" style="float:right;">Machine Learning mode: <strong>OFF</strong></span>
                </div>
              </div>


              <!-- Choices -->
               <div class="row">

                   <div class="col-xs-12 col-lg-4 choice">
                       <div class="intro-text">
                           <!-- <span class="name">Rock Paper Scissors...</span> -->
                           <!-- <hr class="star-light"> -->
                           <span class="name btn btn-default" ng-click="play(0)" ng-disabled="view.disableButtons">Rock</span>
                       </div>
                   </div>
                   <div class="col-xs-12 col-lg-4 choice">
                       <div class="intro-text">
                           <!-- <span class="name">Rock Paper Scissors...</span> -->
                           <!-- <hr class="star-light"> -->
                           <span class="name btn btn-default" ng-click="play(1)" ng-disabled="view.disableButtons">Paper</span>
                       </div>
                   </div>
                   <div class="col-xs-12 col-lg-4 choice">
                       <div class="intro-text">
                           <!-- <span class="name">Rock Paper Scissors...</span> -->
                           <!-- <hr class="star-light"> -->
                           <span class="name btn btn-default"  ng-click="play(2)" ng-disabled="view.disableButtons">Scissors</span>
                       </div>
                   </div>



               </div>
           </div>
       </header>






           <!-- Footer -->
    <footer class="text-center">
       <div class="footer-below">
           <div class="container">
               <div class="row text-right">
                   <div class="col-xs-12">
                       Created by Matt McInnis, 2017
                   </div>
                   <div class="col-xs-12">
                       Data Scientist @ IBM Canada
                   </div>
                   <div class="col-xs-12">
                       Connect with me on <a href="https://twitter.com/mattlovesmath">Twitter</a>, <a href="https://www.linkedin.com/in/mattmcinnis">LinkedIn</a>.
                   </div>
                   <div class="col-xs-12">
                       Thanks to David Miller for open source <a href="https://github.com/BlackrockDigital/startbootstrap-freelancer">theme</a>.
                   </div>
                 </div>
               </div>
           </div>
       </div>
    </footer>


  </body>
</html>
